<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ping times</title>
</head>
<body>
<h1>Ping times of ip <b>{{ip}}</b></h1>
<ul>
    {% for time in pingtimes %}
    <li>{{time}}</li>
    {% endfor %}
</ul>


</body>
</html>